<div class="policy">
    <div class="policy-title text-center mb-4">
        <span>About</span>
    </div>
    <div class="policy-content text-center">
        <p>
            We are committed to helping people who love nike shoes around the world to get their favorite shoes.
        </p>
        <p>
            Train bot can help you increase your account activity and increase your chances of winning.
        </p>
        <p>
            Good luck! We will grow together.
        </p>
    </div>
</div>