<div class="policy privacy-policy">
    <div class="policy-title text-center mb-4">
        <span>Payment Failed</span>
    </div>
    <div class="policy-content">
        <p>
            Ooops. Something wrong with your payment. Try again later.
        </p>
    </div>
</div>