<div class="policy privacy-policy">
    <div class="policy-title text-center mb-4">
        <span>Payment Successful</span>
    </div>
    <div class="policy-content">
        <p>
            We will send an activation key to your email <% email %>.
        </p>
        <p>
            Thank you for using Winner Train Bot.
        </p>
    </div>
</div>