<div class="policy privacy-policy">
    <div class="policy-title text-center mb-4">
        <span>Payment Cancel</span>
    </div>
    <div class="policy-content text-center">
        <p>
            Ooops. Your payment is cancelled. 
        </p>
        <p>
            Try again later.
        </p>
    </div>
</div>