<div class="policy">
    <div class="policy-title text-center mb-4">
        <span>Refund Policy</span>
    </div>
    <div class="policy-content">
        <p>All sales are final. All products listed are digital products. Proof of the digital product (proxy list,
            license key, account information) delivered to the email address provided by the customer constitutes legal
            fulfillment of the order. No refunds.</p>
    </div>
</div>