<div class="policy">
    <div class="policy-title text-center mb-4">
        <span>Terms of Service</span>
    </div>
    <div class="policy-content">
        <p>
            1. Who Can Use the Services?<br />
            No one under 13 is allowed to create an account or use the Services. We may offer additional Services with
            additional terms that may require you to be even older to use them. So please read all terms carefully.

            By using these services, you confirm that:
            You are entering into a binding contract with Winner Train.
            You are not a convicted sex offender.
            You will comply with these Terms and all applicable local, state, national, and international laws, rules
            and regulations.
        </p>

        <p>
            2. Data<br />
            All customers, members, mods, and owners are prohibited from leaking methods, links, and all information
            from Winner Train. This is all categorized as “proprietary information” and can be classified as business
            trade
            secrets, which is punishable by law.
        </p>

        <p>
            3. Rights We Grant You<br />
            After purchasing Winner Train services – snkrs account and proxies grant you access to our services. You may
            not
            copy, modify, distribute, sell, or lease any part of our Services, nor may you reverse engineer.
        </p>

        <p>
            4. Rights You Grant Us<br />
            We may access, review, screen, and delete your data at any time and for any reason or if we think your data
            violates our company rules.
        </p>

        <p>
            5. Billing/Refunds/Chargebacks<br />
            There will not be any exceptions to our policies regarding billing.


            Once purchased through our website, you have accepted all of our terms and will not be allowed any refunds,
            unless the owner of Winner Train explicitly states otherwise. Again, there is no basis for refunds once
            purchased, and purchasing our services confirms that you have read these terms before doing so.


            Chargebacks will not be allowed under any circumstances. Once purchased, you will be provided with the
            requested services. Once you have purchased and received these services this is deemed as “services fully
            completed or rendered” at which point you will not be allowed to chargeback or get a refund.


            These terms of service can be used in all chargeback disputes.
        </p>

        <p>
            6. Safety<br />
            You will not use the Winner Train for any purpose that is illegal or prohibited by these Terms.
        </p>


        <p>
            7. Digital services<br />
            Winner Train offers digital services, and not physical goods. These digital services will be sent to the
            email
            provided during checkout. All sales are 100% final with no returns. Upon purchasing you are agreeing to our
            terms of service in full.
            Accounts have a 45 days guarantee on unverified accounts. An unverified account is an account with no phone
            numbers associated to the account. These accounts are not guaranteed against bans or password resets as a
            result of misuse by the user.
        </p>
    </div>
</div>