.product {
    color: #fff;
}

.product .product-system {
    margin-top: 40px;
    /* padding-left: 50%; */
    /* margin-left: -153px; */
    height: 110px; 
}

.product .icon {
    text-align: right !important;
    padding-right: 0 !important;
}

.product .icon svg {
    max-width: 44px;
    height: 44px;
    text-align: right;
}

.product .text {
    height: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
}

.product .text div {
    width: 80px !important;
}

.product .product-title {
    font-size: 50px;
    font-weight: 300;
}

.product .product-desc {
    margin-top: 30px;
    width: 90%;
    font-size: 20px;
    color: #ccc;
}

.product .payment-btn-container {
    text-align: center;
}

.product .payment-btn-container .payment-btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-radius: 600px;
    background-color: #42d97c;
    color: #fff;
    font-weight: 500;
}

.product .product-content img {
    box-shadow: 0 12px 26px rgba(0, 0, 0, .4);
    max-width: 96%;
    max-height: 750px;
    width: auto;
    border-radius: 1.5%;
    margin-bottom: 40px;
    margin-top: 40px;
}