.purchase .purchase-title {
    font-size: 50px;
    font-weight: 300;
    color: #fff;
}

.purchase .purchase-content {
    color: #ccc;
}

.purchase .purchase-summary {
    font-size: 28px;
    font-weight: 300;
    color: #fff;
}

.purchase .buy-btn-container {
    text-align: center;
}

.purchase .buy-btn-container .buy-btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-radius: 600px;
    background-color: #42d97c;
    color: #fff;
    font-weight: 500;
}

.purchase .buy-email-container .input-email {
    height: 46px;
    padding: auto, 0;
    border: solid 1px #ccc;
    border-radius: 23px;
    text-align: center;
    color: #13131c;
    font-weight: 500;
    /* background-color: black; */
}

.purchase .shop-item-count input {
    width: 30px;
}

.box {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}